name: CI/CD

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run tests
      run: echo "No tests yet" # ou pytest si tu veux
    - name: Build Docker image
      run: docker build -t secure-api-k8s .
    - name: Deploy to Kubernetes
      run: |
        minikube start
        kubectl apply -f deployment.yaml
